#resultado{

    border:2px solid black;
    width: 15%;
    height: 500px;
    margin: 0 auto; 
    text-align: center; 
    font-size:100px;
    font-family: Arial, Helvetica, sans-serif; 

}

#cuadrotexto{
    border:1.5px solid black;
    width: 10%;
    height: 50px;
    margin-left: 438px;
    text-align: center; 
    font-size:40px;
    font-family: Arial, Helvetica, sans-serif; 


}


#cuadrotexto2{
    border:1.5px solid black;
    width: 10%;
    height: 50px;
    margin-bottom:1px;
    margin-left: 200px;
    text-align: center; 
    font-size:40px;
    font-family: Arial, Helvetica, sans-serif; 


}
